<div id="<%= dom_id director %>">
  <p>
    <strong>Name:</strong>
    <%= director.name %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= director.nationality %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= director.birthdate %>
  </p>

  <p>
    <strong>Fav genre:</strong>
    <%= director.movie_genre.name %>
  </p>

</div>
