<p style="color: green"><%= notice %></p>

<%= render @director %>

<div>
  <%= link_to "Edit this director", edit_director_path(@director) %> |
  <%= link_to "Back to directors", directors_path %>

  <%= button_to "Destroy this director", @director, method: :delete %>
</div>

<div>
  <h2>Movies directed by <%= @director.name %></h2>
  <% @director_movies.select {|m| m if !m.draft}.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
    <hr/>
  <% end %>
</div>
