<h1>Livro: <%= @book.title %></h1>

    <p><strong>Título: </strong><%= @book.title %></p>
    <p><strong>Autor: </strong><%= @book.author %></p>
    <p><strong>Gênero: </strong><%= @book.genre %></p>
    <p><strong>Resumo: </strong><%= @book.abstract %></p>
    <p><strong>Ano: </strong><%= @book.publication_year %></p>

    <a href="/" style="border:solid 3px;border-color:black">
    Voltar    
    </a>


