<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <h2>Released Movies</h2>
  <% @movies.select {|m| m if m.released}.each do |movie| %>
    <div>
    <img width='300px' height='400px' src=<%= movie.image_url %> />
    <p>
    <strong>Title:</strong>
    <%= movie.title %>
    </p>
    <p>
    <strong>Release year:</strong>
    <%= movie.release_year %>
    </p>
    </div>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
    <hr/>
  <% end %>
  <h2>To be released Movies</h2>
  <% @movies.select {|m| m if !m.released}.each do |movie| %>
    <div>
    <img width='300px' height='400px' src=<%= movie.image_url %> />
    <p>
    <strong>Title:</strong>
    <%= movie.title %>
    </p>
    <p>
    <strong>Release year:</strong>
    <%= movie.release_year %>
    </p>
    </div>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
    <hr/>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
